/* animation meny desktop */
@media screen and (min-width: 650px) {
	.header__button--hover {
		border-bottom: 3px solid transparent;
		display: block;
	}

	.header__button--hover:hover {
		border-bottom: 3px solid var(--white);
	}

	.header__button__main--highlight {
		border-bottom: 3px solid var(--white);
	}
}
input{
	justify-self: center;
	border: solid var(--black) 3px;
	margin: 0.5rem;
	height: 3rem;
	width: 80%;
	color: var(--black);
	border-radius: 0.5rem;
	min-width: 180px;
}
select {
	justify-self: center;
	border: solid var(--black) 3px;
	margin: 0.5rem;
	height: 3rem;
	width: 80%;
	color: var(--black);
	border-radius: 0.5rem;
	min-width: 180px;
}

p {
	font-family: var(--header-font);
	margin-left: 10%;
	margin-bottom: 0.5rem;
}

input::placeholder {
	color: var(--black);
	/* background-color: var(--white); */
}
button {
border-radius: 5px;
color: var(--black);
background-color:#ffffff;
width: 60%;
height: 3rem;
justify-self: center;
margin: 0.5rem;
}

label {
	margin-left: 10%;
	font-weight: bold;
}

.main__section__form {
	display: grid;
	grid-template-columns: 1fr;
}

/* .main__section {
} */


