/* animation meny desktop */
@media screen and (min-width: 650px) {
	.header__button--hover {
		border-bottom: 3px solid transparent;
		display: block;
		transition: all 0.5s;
	}

	.header__button--hover:hover {
		border-bottom: 3px solid var(--white);
	}

	.header__button__main--highlight {
		border-bottom: 3px solid var(--white);
	}
}

/* Main content */
h4 {
	font-family: var(--header-font);
	margin-left: 10%;
	margin-bottom: 0.5rem;
}

/* Formulär */
input[type="text"], input[type="email"], input[type="tel"]{
	justify-self: center;
	border: solid var(--black) 3px;
	margin: 0.5rem;
	height: 3rem;
	width: 80%;
	color: var(--black);
	border-radius: 0.5rem;
	min-width: 180px;
}
select {
	justify-self: center;
	border: solid var(--black) 3px;
	margin: 0.5rem;
	height: 3rem;
	width: 80%;
	color: var(--black);
	border-radius: 0.5rem;
	min-width: 180px;
}

input::placeholder {
	color: var(--black);
}

label {
	margin-left: 10%;
	font-weight: bold;
}

input[type="checkbox"],
input[type="radio"] {
	margin-left: 10%;
	padding-bottom: 0.3rem;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
	font-weight: normal;
	margin-left: 0;
	font-size: 0.9rem;
}

input:blank {
	border: solid var(--black) 3px;
	background-color: #ffffff;
}

input:invalid {
	border: solid 3px #ff0000;

}

input:valid {
	border: solid 3px #008000;
}

.error {
	visibility: hidden;
	margin-left: 10%;
	margin-bottom: 0.5rem;
	font-size: 0.8rem;
	color: var(--error-red);
}

input:invalid:focus+.error {
	visibility: visible;
}

.main__section__form {
	display: grid;
	grid-template-columns: 1fr;
}

select:invalid {
	border: solid 3px #ff0000;

}

select:valid {
	border: solid 3px #008000;
}

select:invalid:focus+.error {
	visibility: visible;
}

input[type="checkbox"]:invalid:focus+.error{
	visibility: visible;
}
input[type="radio"]:invalid:focus+.error {
	visibility: visible;
}

/* Knapp */
button {
border-radius: 5px;
color: var(--black);
background-color:#ffffff;
width: 60%;
height: 3rem;
justify-self: center;
margin: 0.5rem;
}

