/* animation meny desktop */
@media screen and (min-width: 650px) {
	.header__button--hover {
		border-bottom: 3px solid transparent;
		display: block;
		transition: all 0.5s;
	}

	.header__button--hover:hover {
		border-bottom: 3px solid var(--white);
	}

	.header__button__kontakt--highlight {
		border-bottom: 3px solid var(--white);
	}
}

/* Main content */
h3 {
	font-family: var(--header-font);
	font-size: var(--header-size);
	margin-bottom: var(--header-margin-bottom);
	display: flex;
	justify-content: center;
}

li {
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: var(--header-margin-bottom);
}

a {
	font-weight: bold;
}

li {
	list-style: none;
}

.building-image {
	width: 100%;
	height: auto;
	padding-top: 3rem;
}