/* animation meny desktop */
@media screen and (min-width: 650px) {
	.hover-border {
		border-bottom: 3px solid transparent;
		display: block;
	}

	.hover-border:hover {
		border-bottom: 3px solid #dbdbdb;
	}

	.header__button__info--highlight {
		border-bottom: 3px solid #dbdbdb;
	}
}

h2 {
	margin: 20px auto 80px;
	font-size: 38px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.5;
}
