/* animation meny desktop */
@media screen and (min-width: 650px) {
	.header__button--hover {
		border-bottom: 3px solid transparent;
		display: block;
	}

	.header__button--hover:hover {
		border-bottom: 3px solid var(--white);
	}

	.header__button__info--highlight {
		border-bottom: 3px solid var(--white);
	}
}

h2{
	font-family: var(--header-font);
	font-size: var(--header-size);
	margin-bottom: var(--header-margin-bottom);
}

p {
	margin-bottom: var(--header-margin-bottom);
}

summary{
	font-family: var(--header-font);
}

/* Accordion */

details>summary:focus {
	outline: none;
}

details>summary::-webkit-details-marker {
	display: none;
}

details>summary {
	list-style: none;
	border: solid 3px#1A1A1A;
	border-radius: 0.5rem;
}

details[open]>summary {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

details[open]> :not(summary) {
	border-left: solid 3px #1A1A1A;
	border-right: solid 3px #1A1A1A;
}

details[open]> :last-child {
	border-bottom: solid 3px #1A1A1A;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

details>summary::before {
	content: "";
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border: solid 2px #1A1A1A;
	border-left-color: transparent;
	border-bottom-color: transparent;
	margin-right: 0.6rem;
	transition: transform 0.2s;
	transform: rotate(-45deg) translate(-20%, 20%);
}

details[open]>summary::before {
	transform: rotate(135deg) translate(-20%, 20%);
}

/* layout */
section.accordion {
	max-width: 800px;
	width: 100%;
	padding: 0.7rem;
	justify-content: center;
}


details>* {
	width: 100%;
	padding: 0.7rem;
}