/* animation meny desktop */
@media screen and (min-width: 650px) {
	.header__button--hover {
		border-bottom: 3px solid transparent;
		display: block;
	}

	.header__button--hover:hover {
		border-bottom: 3px solid #dbdbdb;
	}

	.header__button__kontakt--highlight {
		border-bottom: 3px solid #dbdbdb;
	}
}