/* animation meny desktop */
@media screen and (min-width: 650px) {
	.header__button--hover {
		border-bottom: 3px solid transparent;
		display: block;
	}

	.header__button--hover:hover {
		border-bottom: 3px solid var(--white);
	}

	.header__button__main--highlight {
		border-bottom: 3px solid var(--white);
	}
}

h1 {
font-family: var(--header-font);
font-size: var(--header-size);
margin-bottom: var(--header-margin-bottom);
}

