* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Amiko', sans-serif;
	font-kerning: normal;
}

@font-face {
	font-family: BourtonInline;
	src: url(fonts/bourtoninline.ttf);
}
header {
	background-color: #585858;
	position: fixed;
	top: 0;
	width: 100%;
}

.linklogo {
	display: none;
}

.linklogosmall {
	display: flex;
	justify-content: center;
}

.desktopnav {
	background-color: #dbdbdb;
	display: none;
	height: 2em;
}
aside {
	background-color: #6a6a6a;
	display: none;
}

main {
	background-color: #1a1a1a;
	/* display: flex;
	position: relative; */
	display: grid;
	grid-template-columns: 100%;
	height: 40em;
}

.mobilenav {
	background-color: #dbdbdb;
	display: flex;
	justify-content: space-around;
	height: 2em;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
}

/* .mobilenav>a {
	display: flex;
	justify-content: space-around;
} */


/* .menuitem {
} */

/* .gridcontainer{
} */

footer {
	background-color: #585858;
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-inline-start: 0;
	min-height: 5em;
	position: relative;
	bottom: 0;
}

footer>ul {
	list-style: none;
	padding: 1.5em;
}

footer>ul>li {
	width: 10em;
}

/* .bold {
	font-family: 'League Spartan', sans-serif;
} */

footer>ul>li>a>img {
	height: 2em;
}

.footer-img {
	width: 1em;
	padding: 0;
}

@media screen and (min-width: 429px){
.desktopnav {
	display: flex;
	justify-content: space-around;
	position: sticky;
	top: 0;
}
.mobilenav{
	display: none;
}
.linklogo {
	display: none;
}

.maincontent{
	min-width: 428px;
}




main {
	display: grid;
	grid-template-columns: auto auto auto;
}

aside {
	display: block;
}
}

@media screen and (min-width: 768px) {
.linklogo {
	display: flex;
	justify-content: center;
}
.linklogosmall {
	display: none;
}
}